<table class="table">
  <thead>
    <tr>
      <th>Edit</th>
      <th>Problem Name</th>
      <th>Difficulty</th>
      <th>Corte</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor='let item of problemArr'>
      <th>
        <a class="btn btn-info"  [routerLink]="['/admin','problems',item.name]"><span class="glyphicon glyphicon-edit"></span> Edit</a>
      </th>
      <th>
        <a [routerLink]="['/problems',item.name]">
          {{item.name}}
        </a>
      </th>
      <th>{{item.difficulty}}</th>
      <th>{{item.corte}}</th>
      <th>
        <a class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></a>
      </th>
    </tr>
  </tbody>
</table>
