<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Editar</th>
        <th>Nombre del Problema</th>
        <th>Dificultad</th>
        <th>Corte</th>
        <th>Eliminar</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor='let item of problemArr'>
        <th>
          <a class="btn btn-info"  [routerLink]="['/admin','problems',item.name]"><span class="glyphicon glyphicon-edit"></span> Editar</a>
        </th>
        <th>
          <a [routerLink]="['/problems',item.name]">
            {{item.name}}
          </a>
        </th>
        <th>{{item.difficulty}}</th>
        <th>{{item.corte}}</th>
        <th>
          <div>
            <popover-content #myPopoverProblem title="Confirm delete Problem"  [closeOnClickOutside]="true">
              <button class="btn btn-success text-center" (click)="myPopoverProblem.hide()" (click)="deleteProblem(item)"><span class="glyphicon glyphicon-ok"></span></button>
              <button class="btn btn-danger text-center"  (click)="myPopoverProblem.hide()"><span class="glyphicon glyphicon-remove"></span></button>
            </popover-content>

            <button class="btn btn-danger" [popover]="myPopoverProblem">
              <span class="glyphicon glyphicon-remove"></span>Eliminar</button>
            </div>
          </th>
        </tr>
      </tbody>
    </table>
    <div class="text-center">
      <button (click)="smModal.show()"  class="btn btn-success text-center" ><span class="glyphicon glyphicon-plus"></span>Agragar Problema</button>
    </div>

    <div class="modal fade" bsModal #smModal="bs-modal"
    tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h4 *ngIf="!problemTaken" class="modal-title pull-left" >Nombre del Problema</h4>
            <h4 *ngIf="problemTaken" class="modal-title pull-left" >¡Error!</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="smModal.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <input type="text" [(ngModel)] = "nameNewProblem"  class="form-control" >
              <br>
              <alert *ngIf="problemTaken" type="danger">
                <p>El <strong>nombre</strong> del problema ya existe, intenta otro nombre.</p>
              </alert>
            <button (click)="addProblemOnClick()"   class="btn btn-success text-center" ><span class="glyphicon glyphicon-ok"></span></button>
          </div>
        </div>
      </div>
    </div>

</div>
