<div class="footer">
  <div class="footer-above">
    <div class="container">
      <div class="row">
        <div class="footer-col col-md-4">
          <h3>Support</h3>
          <p>Para información y reportar fallas
          escribenos a <a href="mailto:pensamientogym@gmail.com" target="_top">pensamientogym@gmail.com</a></p>
        </div>
        <div class="footer-col col-md-4">
          <h3>Suguenos y Contactanos</h3>
            <ul class="list-inline text-center">
              <li>
                  <a target="_blank" href="https://www.facebook.com/acmjaveriana" class="btn-social btn-outline"><span class="sr-only">Facebook</span><i class="fa fa-fw fa-facebook"></i></a>
              </li>
              <li>
                <a target="_blank" href="https://twitter.com/ACMJaveriana" class="btn-social btn-outline"><span class="sr-only">Twitter</span><i class="fa fa-fw fa-twitter"></i></a>
              </li>
              <li>
                  <a target="_blank" href="https://www.youtube.com/channel/UC3PymX73H7qF6-VJS-wuyJA" class="btn-social btn-outline"><span class="sr-only">Google Plus</span><i class="fa fa-fw fa-youtube"></i></a>
              </li>
              <li>
                  <a target="_blank" href="https://github.com/CapituloJaverianoACM" class="btn-social btn-outline"><span class="sr-only">Linked In</span><i class="fa fa-fw fa-github"></i></a>
              </li>
              <li>
                  <a href="mailto:acm#javeriana.edu.co" class="btn-social btn-outline"><span class="sr-only">Dribble</span><i class="fa fa-fw fa-envelope"></i></a>
              </li>
            </ul>
          </div>
          <div class="footer-col col-md-4">
            <h3>¿Qué es PensamientoGym?</h3>
            <p class="text-justify">Una plataforma con el fin de ayudar a los estudiantes a practicar para sus pruebas de programación.</p>
          </div>
        </div>
      </div>
    </div>
</div>

  <!-- <div class="footer navbar-fixed-bottom">
  		<div class="container">
         		 <p>footer text</p>
     		</div>
      </div> -->
