<table class="table">
  <thead>
    <tr>
      <th>Usuario</th>
      <th>Email</th>
      <th>Nombre</th>
      <th>Rol</th>
      <th>Eliminas</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor='let user of userArr'>
      <th>{{user.username}}</th>
      <th>{{user.email}}</th>
      <th>{{user.first_name}} {{user.last_name}}</th>
      <th>
        <div class="btn-group" dropdown>
          <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
            <div *ngIf="user.is_admin">True <span class="caret"></span></div>
            <div *ngIf="!user.is_admin">False <span class="caret"></span></div>
          </button>
          <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li role="menuitem"><a class="dropdown-item" (click) = "changeRole(true,user)">True</a></li>
            <li role="menuitem"><a class="dropdown-item" (click) = "changeRole(false,user)">False</a></li>
          </ul>
        </div>
      </th>
      <th>
        <div>
          <popover-content #myPopover title="Confirm delete user"  [closeOnClickOutside]="true">
            <button class="btn btn-success text-center" (click)="myPopover.hide()" (click)="deleteUser(user)"><span class="glyphicon glyphicon-ok"></span></button>
            <button class="btn btn-danger text-center"  (click)="myPopover.hide()"><span class="glyphicon glyphicon-remove"></span></button>
          </popover-content>

          <button class="btn btn-danger" [popover]="myPopover">Delete
          <span class="glyphicon glyphicon-remove"></span></button>
        </div>
      </th>
    </tr>
  </tbody>
</table>
