<!-- <div class="container">
  <app-tabs (selected)="onUpdate($event.selectedTab)">
    <app-tab tabTitle = "Description">
      <app-description nameProblem={{name}}></app-description>
    </app-tab>
    <app-tab tabTitle = "Submissions">
      <app-submissions nameProblem={{name}} update={{update}}></app-submissions>
    </app-tab>
  </app-tabs>
</div> -->
<div class="container">

  <ul class="nav nav-tabs">
    <li class="nav-item">
       <a [routerLink]="['/problems',name]" routerLinkActive="active">Description</a>
    </li>

    <li class="nav-item">
       <a [routerLink]="['/problems',name,'submissions']" routerLinkActive="active">Submissions</a>
    </li>

  </ul>
  <router-outlet></router-outlet>
</div>
