<div class="container" *ngIf="problem">
  <h4>Test Cases Problem {{nameProblem}}</h4>
  <div *ngFor="let number of arrayTest">
    <div class="row">
        <div class="col-sm-1">
            <h6>{{number}}</h6>
        </div>
        <div class="col-sm-2">
          <div *ngIf="arrPosInput[number-1]">
            <a (click)="dowloadOnClick(number,0)" dowload><h6>Input</h6></a>
          </div>
          <div *ngIf="!arrPosInput[number-1]">
            <h6>Input</h6>
          </div>

        </div>
        <div class="col-sm-2" id = "{{number}}.in">
            <label  class="btn btn-primary btn-file">
              <span class="glyphicon glyphicon-cloud-upload"></span> Upload File
              <input type="file"  ng2FileSelect [uploader]="uploader" (change)="changeFile(uploader,number,0)" />
            </label>
        </div>
        <div class="col-sm-1" *ngIf = "arrPosInput[number-1]">
          {{number}}.in
        </div>
        <div class="col-sm-2">
          <div *ngIf="arrPosOutput[number-1]">
            <a (click)="dowloadOnClick(number,1)" dowload><h6>Output</h6></a>
          </div>
          <div *ngIf="!arrPosOutput[number-1]">
            <h6>Output</h6>
          </div>
        </div>
        <div class="col-sm-2" id = "{{number}}.out">
          <label  class="btn btn-primary btn-file">
            <span class="glyphicon glyphicon-cloud-upload"></span> Upload File
            <input type="file"  ng2FileSelect [uploader]="uploader" (change)="changeFile(uploader,number,1)"/>
          </label>
        </div>
        <div class="col-sm-1" *ngIf = "arrPosOutput[number-1]">
          {{number}}.out
        </div>
        <div class="col-sm-1">
          <span class="glyphicon glyphicon-remove pull-right close" (click)="deleleCaseOnClick(number)"></span>
        </div>
    </div>
    <div *ngIf="!arrValidTest[number-1]" class="alert alert-danger">
      Delete or update input and output
    </div>
  </div>
  <br>
  <div class="text-center confirm-buttons">
    <button type="button" class="btn btn-info" (click)="addTestCaseOnClick()"> <span class="glyphicon glyphicon-plus"></span> Add Test Case</button>
    <button type="button" class="btn btn-danger" [routerLink]="['/admin','problems']"> <span class="glyphicon glyphicon-remove"></span> Cancel</button>
    <button type="button" class="btn btn-success" (click)="submitChangeOnClick()"><span class="glyphicon glyphicon-ok"></span>  Confirm</button>
  </div>
</div>
