<div class="container">

  <div *ngIf="user">
    <div class="row">
      <div class="col-sm-4">
        <h3>{{user.first_name}} {{user.last_name}}</h3>
        <div class="text-center" *ngIf="!uploader.queue.length">
          <img class="img-thumbnail img-responsive" *ngIf="profilePicture" [src]="profilePicture">
        </div>
        <div *ngFor="let item of uploader.queue">
          <div class="text-center">
            <img class="img-thumbnail img-responsive" src="" appImageView [image]="item?._file" />
          </div>
        </div>
        <div class="upload-button text-center">
          <label (click)="selectImageOnClick()" class="btn btn-primary btn-file">
            <span class="glyphicon glyphicon-camera"></span> Select Picture
            <input type="file" ng2FileSelect [uploader]="uploader" accept="image/x-png,image/gif,image/jpeg"/>
          </label>

          <div class="upload-button" *ngFor="let item of uploader.queue">
            <div *ngIf="!item.isSuccess">

                <button
                class="btn btn-success"
                type="file"
                (click)="item.upload()"
                (click)="uploadOnClick()"
                [disabled]="item.isReady || item.isUploading || item.isSuccess"
                >
                <span class="glyphicon glyphicon-ok"></span> Upload Image
              </button>

              <button
              class="btn btn-danger"
              type="button"
              (click)="cancelOnClick()">
              <span class="glyphicon glyphicon-remove"></span> Cancel
            </button>
            </div>
          </div>


        </div>
      </div>
      <div class="col-sm-8">
        <h3 class="page-header"> Personal Information </h3>

        <h4 class="sub-tittle">Name</h4>
        <p *ngIf="!isEditEnable" >{{user.first_name}}</p>
        <input *ngIf="isEditEnable" type="text" [(ngModel)] = "user.first_name" value="{{user.first_name}}" class="form-control" id="first-name">

        <h4 class="sub-tittle">Last Name</h4>
        <p *ngIf="!isEditEnable" >{{user.last_name}}</p>
        <input *ngIf="isEditEnable" type="text" [(ngModel)] = "user.last_name" value="{{user.last_name}}" class="form-control" id="last-name">

        <h4 class="sub-tittle">Carrer</h4>
        <p *ngIf="!isEditEnable" >{{user.career}}</p>
        <!-- <input *ngIf="isEditEnable" type="text" [(ngModel)] = "user.career" value="{{user.career}}" class="form-control" id="career"> -->
        <select *ngIf="isEditEnable" class="selectpicker" [(ngModel)] = "user.career" name="career">
          <option *ngFor="let carr of carreers" >{{carr}}</option>
        </select>

        <h4 class="sub-tittle">Email</h4>
        <p>{{user.email}}</p>

        <div *ngIf="!isEditEnable" class="edit-button">
          <button (click)="editProfileOnClick()" type="button" class="btn btn-warning">Edit Profile <span class="glyphicon glyphicon-edit"></span></button>
        </div>

        <div *ngIf="isEditEnable" class="edit-button">
          <button (click)="doneEditOnClick()" type="button" class="btn btn-success">Done</button>
        </div>

      </div>
    </div>
  </div>

</div>
