h3 {
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: capitalize;
}

p {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.4rem;
  margin: 0.5em;
}

.upload-button {
  padding-top: 10px;
}

.page-header {
  font-weight: bold;
  font-size: 50px;
}

.sub-tittle {
  padding-top: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: capitalize;
  font-weight: 900;
  font-size: 17px;
}

.edit-button {
  padding-top: 20px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
