.section-title {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 115%;
    font-weight: bold;
}

p {
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
  /*margin: 0.5em;*/
  line-height: 1.5em;
  font-size: 1.4rem;
}

button {
  margin-top: 10px;
}

pre {
}
