p {
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
  margin: 0.5em;
  line-height: 1.5em;
  font-size: 1.4rem;
}

.sample {
  font-family: 'Source Code Pro', monospace;
  line-height: .9em;
}

h1, h2 {
  text-align: center;
  text-transform: capitalize;
}

h2 {
  padding-bottom: 18px;
}


.section-title {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 115%;
    font-weight: bold;
}

.samples-display {
  padding-top: 10px;
}
button {
  margin-top: 10px;
}

.result {
  margin-top: 18px;
}

.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid grey;
  width: 50px;
  height: 50px;
  position: relative;
  margin: 10px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
