<div *ngIf="problem">

  <h1 class="problem-tittle">Problem: {{nameProblem}}</h1>
  <p [MathJax]="problem.description.statement">{{problem.description.statement}}</p>
  <div class="section-title">Input Format</div>
  <p [MathJax]="problem.description.input_format">{{problem.description.input_format}}</p>
  <div class="section-title">Outpu Formatt</div>
  <p [MathJax]="problem.description.output_format">{{problem.description.output_format}}</p>
  <div class="section-title">Samples</div>
  <div *ngFor="let sample of samples">
    <ul class="list-group">

      <li class="list-group-item">
        <h6>Input</h6>
        <!-- <ol class="breadcrumb"> -->
          <pre>{{sample.input}}</pre>
        <!-- </ol> -->
        <h6>Output</h6>
        <!-- <ol class="breadcrumb"> -->
          <pre>{{sample.output}}</pre>
        <!-- </ol> -->
      </li>
    </ul>
  </div>
</div>

  <!-- CodeMirror -->
  <br>
  <div >
    <ol class="breadcrumb">
      <li><h4>{{nameProblem}}</h4></li>
      <br>
    <div  id="codeeditor" #EditorCode ></div>
    </ol>
    <select [(ngModel)] = "selection" (change)="selectionChange()">
          <option [value]="theme" *ngFor="let theme of themes" >{{theme}}</option>
    </select>

  <!-- <script >
    var myCodeMirror = CodeMirror(document.getElementById("codeeditor"));
  </script> -->
  </div>
  <button type="button" class="btn btn-success" (click)="onClick($event)">Submit Code</button>
  <!-- CodeMirror -->
